# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# JavaScript / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# Project Specific
# We are choosing NOT to ignore data/ because it is <50MB.
# data/

# Models & Artifacts
*.h5
*.tflite
*.zip
dataset.zip
training/wakeword_model.h5
web/wakeword_model.tflite

# Virtual Env
# Virtual Env
.venv
env/
venv/
data/
gcp_key.json


data_sequence/